<div>
    <div  class="question-form">
        <h3 class="heading-2">Question Details</h3>
        <div v-if="errors.length" class="errors-block">
            <h4 class="error-header">Please fix the following errors before submitting</h4>
            <ul role="list">
                <li v-for="error in errors" class="error-text">{{error}}</li>
            </ul>
        </div>

        <div class="form-block-3 w-form">
          <form @submit.prevent="submit" id="email-form-2" name="email-form-2" data-name="Email Form 2" class="form-2">


            <b-form-select v-model="selected_m"
			   :options="modules_repr" :select-size="1"
                           v-on:change="mod_selected">
            </b-form-select>
	    
                <label for="name" class="field-label">Question Title</label>
                <input type="text" class="w-input" v-model="q_title" maxlength="256" name="name" data-name="Name"
                       placeholder="" id="name">
		
                <label for="q_text" class="field-label">Question Text</label>
                <textarea placeholder="Example Text"
                          maxlength="5000"
                          id="q_text" v-model="q_text"
                          class="w-input"></textarea>

                <label for="q_details" class="field-label">Additional Question Details</label>
                <textarea placeholder="Example Text" maxlength="5000" id="q_details" v-model="q_details"
                          class="w-input"></textarea>

                <label for="q_instruction" class="field-label">Question
                    Instructions</label>
                <textarea placeholder="Example Text" maxlength="5000" id="q_instruction"
                          v-model="q_instructions" class="w-input"></textarea>

                <label for="q_type" class="field-label">Question Type</label>
                <select id="q_type" name="q_type" v-model="q_type" class="w-select">
                    <option value="multiple">Multiple Choice</option>
                    <option value="single">Single Choice</option>
                    <option value="text">Text</option>
                    <option value="code" disabled>Code</option>
                </select>
                <label class="field-label">Possible Answers</label>
                <custom-list listName="answers" isTextItem></custom-list>

                <label class="field-label">Correct Answer(s)</label>
                <custom-list listName="correct_answers"></custom-list>

                <label class="field-label">Answers Explanations</label>
                <custom-list listName="answers_explanations" isTextItem></custom-list>

                <label class="field-label">Hints</label>
                <custom-list listName="hints" isTextItem></custom-list>


                <input type="submit" class="submit-button w-button" @submit.prevent="processForm">
            </form>

        </div>
    </div>
    <div class="question-form json-repr">
        <h3 class="heading">JSON Representation (output)</h3>
        <div class="div-block-4">{{json_representation}}</div>
    </div>
</div>
