<!--<div  :id="myItem.id" class="list-item-container w-container w-form form">-->
<!--    <textarea v-model="itemText" placeholder="some text here" rows="2" class="textarea w-input"></textarea>-->
<!--    <a :id="'button_'+myItem.id" class="button w-button" @click="remove">-->
<!--        <strong>X</strong>-->
<!--    </a>-->
<!--</div>-->

<div  v-if="isTextItem" :id="myItem.id" class="item-block">
    <div class="list-label">{{myItem.id}}</div>
    <textarea v-model="itemText" placeholder="Example Text" maxlength="5000" id="field" name="field"
              class="textarea w-input"></textarea>
    <a :id="'button_'+myItem.id" @click="remove" class="item-btn w-button"><strong>X</strong></a>
</div>

<div v-else :id="myItem.id" class="item-block">
    <input v-model="itemText" type="number" class="text-field w-input" maxlength="20" name="field-3" data-name="Field 3"
           id="field-3" required="">
    <a :id="'button_'+myItem.id" @click="remove" class="item-btn w-button">
        <strong>X</strong>
    </a>
</div>