<!--<div  :id="myItem.id" class="list-item-container w-container w-form form">-->
<!--    <textarea v-model="itemText" placeholder="some text here" rows="2" class="textarea w-input"></textarea>-->
<!--    <a :id="'button_'+myItem.id" href="#" class="button w-button" @click="remove">-->
<!--        <strong>X</strong>-->
<!--    </a>-->

<!--</div>-->


<div :id="myItem.id" class="item-block">
            <textarea v-model="itemText" placeholder="Example Text" maxlength="5000" id="field-2" name="field-2"
                      data-name="Field 2" class="textarea w-input"></textarea>
    <a :id="'button_'+myItem.id" class="button w-button" @click="remove"><strong>X</strong></a>
</div>
